<h1>Editing Book</h1>
<%= form_with model: @book, url: book_path(@book.id), method: :patch do |f| %>
<% if @book.errors.any? %>
  <div class = "errors">
    <div class = "errors-count">
      <%= @book.errors.count %>error prohibited this book from being saved:
    </div>
    <ul class = "errors-messages">
      <% @book.errors.full_messages.each do |messages| %>
        <li><%= messages %></li>
      <% end %>
    </ul>
  <% end %>
</div>
<div class="field">
<%= f.label :title %>
<%= f.text_field :title %>
</div>
<div class="field">
<%= f.label :body %>
<%= f.text_area :body %>
</div>
<div class="action">
<%= f.submit 'Update Book' %>
</div>
<% end %>
<div class = "btn">
<%= link_to "edit", edit_book_path(@book.id), class: "btn btn--orange btn--cubic btn--shadow"%>
<%= link_to "back", books_path, class: "btn btn--orange btn--cubic btn--shadow" %>
</div>