<% if flash[:notice] %>
  <div class="flash">
   <%= flash[:notice] %>
  </div>
<% end %>
<h1>Showing Book</h1>
<div class = "show-style">
 <h2>title</h2>
 <p><%= @book.title %></p>
</div>
<div class = "show-style">
 <h2>body</h2>
 <p><%= @book.body %></p>
</div>
<div class = "btn">
<%= link_to "show", book_path(@book.id), class: "btn btn--orange btn--cubic btn--shadow"%>
<%= link_to "back", books_path, class: "btn btn--orange btn--cubic btn--shadow" %>
</div>